body            { font-family: "Arial";}
a, h1, h2       { color: #3385c6; }
h1, h2          { margin: 0; }
h1              { border-bottom: none; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  color: #555555;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 18px;
}

.flights th {
    background-color: white ;
    color: #555555;
    font-size: 18px;
}

tr:hover { background-color: #e7eff6;}